<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= user.email %>'s Page
    </title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <h1>Welcome, <%= user.email %>!

                <div class="button-container">
                    <a href="/logout" class="btn">
                        Log In
                    </a>

                    <a href="/settings" class="btn">
                        Settings
                    </a>

                    <a href="/index" class="btn">
                        Home
                    </a>
                </div>

        </h1>
    </header>

    <!--<nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>-->

    <main>
        <section id="profile-info">
            <h2>Your Profile Information:</h2>
            <ul>
                <li><strong>User ID:</strong>
                    <%= user.userId %>
                </li>
                <li><strong>Email:</strong>
                    <%= user.email %>
                </li>
                <li><strong>Address:</strong>
                    <%= user.address || 'Not provided' %>
                </li>
                <li><strong>Birthday:</strong>
                    <%= user.birthday ? new Date(user.birthday).toLocaleDateString() : 'Not provided' %>
                </li>
                <li><strong>Admin Status:</strong>
                    <%= user.admin ? 'Yes' : 'No' %>
                </li>
            </ul>
        </section>


        <h2>Add store to the mall</h2>
        <section>
            <div class="form">
                <form method="POST" action="/createStore">
                    <label for="storeName"></label>
                    <input name="storeName" id="storeName" class="storeName" placeholder="Name" type="storeName"
                        required>

                    <label for="location"></label>
                    <input name="location" id="location" class="location" placeholder="Location" type="location"
                        required>

                    <label for="phone"></label>
                    <input name="phone" id="phone" class="phone" placeholder="Phone" type="phone" required>

                    <label for="email"></label>
                    <input name="email" id="email" class="email" placeholder="Email" type="email" required>

                    <button class="btn">Create Store</button>
                </form>
            </div>
        </section>

        <h2>Add item to store catalogue</h2>
        <section>
            <div class="form">
                <form method="POST" action="/createitem">

                    <label for="itemName"></label>
                    <input name="itemName" id="itemName" class="itemName" placeholder="Name" type="itemName" required>

                    <label for="itemStock"></label>
                    <input name="itemStock" id="itemStock" class="itemStock" placeholder="Stock" type="itemStock"
                        required>

                    <label for="itemDescription"></label>
                    <input name="itemDescription" id="itemDescription" class="itemDescription" placeholder="Description"
                        type="itemDescription" required>

                    <label for="associatedStore"></label>
                    <input name="associatedStore" id="associatedStore" class="associatedStore" placeholder="Store"
                        type="associatedStore" required>

                    <button class="btn">Create Item</button>
                </form>
            </div>
        </section>

        <h2>Modify store stock. Submit as positive to add, Negative to subtract.</h2>
        <section>
            <div class="form">
                <form method="POST" action="/itemStockModifier">

                    <label for="itemName"></label>
                    <input name="itemName" id="itemName" class="itemName" placeholder="Name" type="itemName" required>

                    <label for="itemStock"></label>
                    <input name="itemStock" id="itemStock" class="itemStock" placeholder="Stock" type="itemStock"
                        required>

                    <label for="associatedStore"></label>
                    <input name="associatedStore" id="associatedStore" class="associatedStore" placeholder="Store"
                        type="associatedStore" required>

                    <button class="btn">Change Stock</button>
                </form>
            </div>
        </section>

        <h2>Elevate Admin</h2>
        <section>
            <div class="form">
                <form method="POST" action="/elevate">

                    <label for="email"></label>
                    <input name="email" id="email" class="email" placeholder="email" type="email" required>

                    <label for="adminStatus"></label>
                    <input name="adminStatus" id="adminStatus" class="adminStatus" placeholder="adminStatus"
                        type="adminStatus" required>

                    <label for="elevationStatus"></label>
                    <input name="elevationStatus" id="elevationStatus" class="elevationStatus"
                        placeholder="elevationStatus" type="elevationStatus" required>

                    <button class="btn">Change Stock</button>
                </form>
            </div>
        </section>

        <h2>View Store Analysis</h2>
        </section>

        <div>
            <a href="/storeInfo?storeNumber=1" class="btn btn-large">View Store 1</a><br>
        </div>

        </section>

    </main>

</body>

</html>
