<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to <%= store.storeName %> page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
        .item {
            margin-bottom: 20px;
        }
    </style>
</head>
<header>
  <h1>Welcome to <%= store.storeName %> page!
              <a href="/index" class="btn">
                  Home
              </a>
          </div>

  </h1>
</header>
<body>
  <div class="store-container">
    <div class="store-info">
        <div class="store">
          <img src="/imgs/<%= store.storeName %>.png" width="400" height="300">
        </div>
    </div>
  </div>

  <main>
    <section>
      <h2>Featured Items</h2>
      <% if (store.items && Array.isArray(store.items) && store.items.length > 0) { %>
        <% store.items.forEach(item => { %>
          <div class="item">
            <img src="<%= item.image %>" alt="<%= item.name %>">
            <h3><%= item.name %></h3>
            <p><%= item.description %></p>
            <button>Add to Cart</button>
          </div>
        <% }); %>
      <% } else { %>
        <p>No Items found.</p>
      <% } %>
    </section>
  </main>
</body>
</html>
