<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to <%= store.storeName %> page</title>
  <link rel="stylesheet" href="/css/style.css" />
  <style>
    .item {
      margin-bottom: 20px;
    }
  </style>
</head>
<header>
  <h1>Welcome to <%= store.storeName %> page!
      <a href="/" class="btn">
        Home
      </a>
      </div>

  </h1>
</header>

<body>
  <ul style="list-style-type: square;">
    <% for(var i=0; i<itemList.length; i++) {%>

      <li style="margin-top: 5px;">
        <%= itemList[i].itemName %>
          <!--{ cartItemName, quantity, description, price, userId, storeId }-->
          <div style="display: inline;">
            <form style="display: inline;" method="POST" action="/addToCard">
              <input type="hidden" id="cartItemName" name="cartItemName" value="<%=itemList[i].itemName%>">
              <input type="hidden" id="stock" name="stock" value="<%=itemList[i].stock%>">
              <input type="hidden" id="description" name="description" value="<%=itemList[i].description%>">
              <input type="hidden" id="price" name="price" value="<%=itemList[i].price%>">
              <input type="hidden" id="userId" name="userId" value="<%=itemList[i].itemName%>">
              <input type="hidden" id="storeId" name="storeId" value="<%=store.storeId%>">
              <button>Add <%=itemList[i].itemName%> to cart</button>
            </form>
          </div>

          <div style="display: inline;">
            <form style="display: inline;" method="POST" action="/removeFromCart">
              <button>Remove <%=itemList[i].itemName%> to cart</button>
            </form>
          </div>

          <div>
            There are <%= itemList[i].stock %> in stock.
          </div>
      </li>

      <% } %>
  </ul>
</body>

</html>