<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to <%= store.storeName %></title>
</head>
<body>
  <header>
    <h1>Welcome to <%= store.storeName %></h1>
    <nav>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Featured Products</h2>
      <% store.products.forEach(product => { %>
        <div class="product">
          <img src="<%= product.image %>" alt="<%= product.name %>">
          <h3><%= product.name %></h3>
          <p><%= product.description %></p>
          <button>Add to Cart</button>
        </div>
      <% }); %>
    </section>
  </main>
</body>
</html>
